body {
     background-color: #C6D4E1;
     background-repeat: repeat;
     background-attachment: fixed;
     font-family: Helvetica, Arial, sans-serif;
}

article, aside, figcaption, figure, footer, header, hgroup, nav, section {
     display: block;
}

#header {
     width:0px;
     padding:0px;
}

/*Layout Styles*/

#wrapper {
width:954px;
background-color:white;
margin-left:auto;
margin-right:auto;
border: solid 10px #44749D;
}

nav {
width:145px;
padding:10px;
float:left;
background-color: #44749D;
padding-left:25px;
}

article {
width:724px;
margin-left:210px;
padding-right:10px;
padding-bottom:15px;
}

footer {
padding:10px 10px 10px;
width:934px;
text-align:center;
color:#666666;
border-top: solid 5px;
}

footer p {
text-align:center;
}

/*Heading Styles*/
h1, h2, h3, h4, h5, h6 {
color: #44749D;
font-family:Helvetica, Arial, sans-serif;
}

h1 {
margin:25px;
}

h2 {
font-size:28px;
}

h3 {
font-size:20px;
}

/*Link Styles*/

a {
text-decoration:none;
}

a:link {
color:#666666;
}

a:visited {
color:#BDB8AD;
}

a:hover {
color:#C6D4E1;
text-decoration:underline;
}

a:active {
color:black;
}

a:focus {
color:#BDB8AD;
}

/*Heading Styles*/
h1, h2, h3, h4, h5, h6 {
color: #44749D;
font-family:Helvetica, Arial, sans-serif;
}

h1 {
margin:15px;
}

h2 {
font-size:28px;
}

h3 {
font-size:20px;
}

/*Paragraph Styles*/

p{
text-align:justify;
}

/* Nav Link List Rules */

nav ul {
margin:0;
padding:0;
}


nav li {
list-style-type:none;
margin:0 0 10px 0;
}

nav a:link, nav a:visited {
font-size:22px;
background-color: #C6D4E1;
color:#666666;
border: solid 5px #fff;
width:90%;
display:block;
text-align:center;
height:32px;
padding-top:3px;
}

nav a:hover {
text-decoration:none;
background:#BDB8AD;
color:#44749D;
}

/* Footer Link List Rules */

footer {
padding:10px 10px 10px;
width:934px;
text-align:center;
color:#BDB8AD;
border-top: solid 3px;
}

footer ul {
margin:0;
padding:0;
}

footer li {
list-style-type:none;
display:inline;
padding:0 15px;
border-left:solid black 1px;
}

footer p {
text-align:center;
}

.last {
border-right:solid black 1px;
}

.first {
border-left:none;
}


/*Image Styles*/

img {
     border-style:solid;
     border-color:black;
     border-width:0px;
}

figure {
     padding:0px;
     margin:0px;
}

figcaption {
     color:black;
     font-style:italic;
     font-size:10px;
}

.left {
     float:left;
     margin-right:10px;
     margin-bottom:10px;
}

.right{
     float:right;
     margin-left:10px;
     margin-bottom:10px;
}


/*Media queries*/
@media screen and (max-width: 600px) {

    nav {
        width:60%;
        float:none
        }

    article {
        width:40%;
        margin-left:5%;
        }

    footer {
        width:55%;
        padding-left:10px;
        }

    h1 { 
        display: none; 
        }
}
